<div class='tvshow_info row'>
    <%# Episodes %>
    <%= content_tag :p, "#{@tvshow.aired_episodes} Episodes" if @tvshow.aired_episodes -%>
    <%# Status %>
    <%= content_tag :p, raw("<em>Status:</em> #{@tvshow.status.capitalize}") if @tvshow.status -%>
    <%# Airs %>
    <%= content_tag :p, raw(airs(@tvshow)) %>
    <%# Synopsis %>
    <%= content_tag :p, raw("<h3>Official Synopsis:</h3> #{@tvshow.official_synopsis}") if @tvshow.official_synopsis -%>

</div>
