<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img src="<%= result.poster_image %>">
    </div>
    <div class="col-xs-6">
      <h4><%= result.title %></h4>
    </div>
  </div>  
</div>



