<section class="row">
    <h4>Most Popular Tv shows right now</h4>
    <table>
      <tr>
        <th></th>
      </tr>
    <% @popular_results.each do |tvshow| %>
      <tr>
        <td><%= link_to tvshow.title, tvshow_path(tvshow.id) %></td>
      </tr>
    <% end %>
    </table>
</section>